# EDA
### Things to do for feature engineering:
- Merge the data 
- Dtype. Change all to int or float
- Remove useless columns (eg. id)
- Add a price difference column (checkout_price - base_price)
- Normalization for specific columns (eg. exclude 'week')
- One-hot encode for categorical features
-

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
fulfilment_center_info = os.path.join(os.getcwd(), 'data', 'fulfilment_center_info.csv')

meal_info = os.path.join(os.getcwd(), 'data', 'meal_info.csv')

train_info = os.path.join(os.getcwd(), 'data', 'train.csv')
fulfilment_df = pd.read_csv(fulfilment_center_info)
meal_df = pd.read_csv(meal_info)
train_df = pd.read_csv(train_info)
fulfilment_df.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [3]:
fulfilment_df.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [4]:
meal_df.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [5]:
train_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [6]:
train_df.shape

(456548, 9)

In [7]:
test_info = os.path.join(os.getcwd(), 'data', 'test.csv')
pd.read_csv(test_info)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0
...,...,...,...,...,...,...,...,...
32568,1250239,155,61,1543,482.09,484.09,0,0
32569,1039516,155,61,2304,483.09,483.09,0,0
32570,1158107,155,61,2664,322.07,323.07,0,0
32571,1444235,155,61,2569,322.07,323.07,0,0
32572,1291286,155,61,2490,276.45,276.45,0,0

In [8]:
df = pd.merge(train_df, meal_df, on='meal_id',how='left')
df = pd.merge(df, fulfilment_df, on='center_id',how='left')
df.shape

(456548, 15)

In [9]:
df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
category                 0
cuisine                  0
city_code                0
region_code              0
center_type              0
op_area                  0
dtype: int64

In [10]:
# Save merged data locally
save_merged_df = os.path.join(os.getcwd(), 'data', 'merged.csv')
df.to_csv(save_merged_df)

In [11]:
df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0
1,1466964,1,55,1993,136.83,135.83,0,0,270,Beverages,Thai,647,56,TYPE_C,2.0
2,1346989,1,55,2539,134.86,135.86,0,0,189,Beverages,Thai,647,56,TYPE_C,2.0
3,1338232,1,55,2139,339.50,437.53,0,0,54,Beverages,Indian,647,56,TYPE_C,2.0
4,1448490,1,55,2631,243.50,242.50,0,0,40,Beverages,Indian,647,56,TYPE_C,2.0

In [12]:
df['meal_id-cuisine-category'] = df['meal_id'].astype(str) + '-' + df['cuisine']+'-'+ df['category']

In [13]:
#col_to_drop  = ['meal_id','cuisine', 'category']
#df.drop(col_to_drop, axis=1, inplace = True)

In [14]:
df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area,meal_id-cuisine-category
0,1379560,1,55,1885,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0,1885-Thai-Beverages
1,1466964,1,55,1993,136.83,135.83,0,0,270,Beverages,Thai,647,56,TYPE_C,2.0,1993-Thai-Beverages
2,1346989,1,55,2539,134.86,135.86,0,0,189,Beverages,Thai,647,56,TYPE_C,2.0,2539-Thai-Beverages
3,1338232,1,55,2139,339.50,437.53,0,0,54,Beverages,Indian,647,56,TYPE_C,2.0,2139-Indian-Beverages
4,1448490,1,55,2631,243.50,242.50,0,0,40,Beverages,Indian,647,56,TYPE_C,2.0,2631-Indian-Beverages

In [15]:
dict(df.groupby('center_id')['center_type'].unique())

{10: array(['TYPE_B'], dtype=object),
 11: array(['TYPE_A'], dtype=object),
 13: array(['TYPE_B'], dtype=object),
 14: array(['TYPE_C'], dtype=object),
 17: array(['TYPE_A'], dtype=object),
 20: array(['TYPE_A'], dtype=object),
 23: array(['TYPE_A'], dtype=object),
 24: array(['TYPE_B'], dtype=object),
 26: array(['TYPE_C'], dtype=object),
 27: array(['TYPE_A'], dtype=object),
 29: array(['TYPE_C'], dtype=object),
 30: array(['TYPE_A'], dtype=object),
 32: array(['TYPE_A'], dtype=object),
 34: array(['TYPE_B'], dtype=object),
 36: array(['TYPE_B'], dtype=object),
 39: array(['TYPE_C'], dtype=object),
 41: array(['TYPE_C'], dtype=object),
 42: array(['TYPE_B'], dtype=object),
 43: array(['TYPE_A'], dtype=object),
 50: array(['TYPE_A'], dtype=object),
 51: array(['TYPE_A'], dtype=object),
 52: array(['TYPE_B'], dtype=object),
 53: array(['TYPE_A'], dtype=object),
 55: array(['TYPE_C'], dtype=object),
 57: array(['TYPE_C'], dtype=object),
 58: array(['TYPE_C'], dtype=object),
 59: array(['TYPE_A'], dtype=object),
 61: array(['TYPE_A'], dtype=object),
 64: array(['TYPE_A'], dtype=object),
 65: array(['TYPE_A'], dtype=object),
 66: array(['TYPE_A'], dtype=object),
 67: array(['TYPE_B'], dtype=object),
 68: array(['TYPE_B'], dtype=object),
 72: array(['TYPE_C'], dtype=object),
 73: array(['TYPE_A'], dtype=object),
 74: array(['TYPE_A'], dtype=object),
 75: array(['TYPE_B'], dtype=object),
 76: array(['TYPE_A'], dtype=object),
 77: array(['TYPE_A'], dtype=object),
 80: array(['TYPE_C'], dtype=object),
 81: array(['TYPE_A'], dtype=object),
 83: array(['TYPE_A'], dtype=object),
 86: array(['TYPE_C'], dtype=object),
 88: array(['TYPE_A'], dtype=object),
 89: array(['TYPE_A'], dtype=object),
 91: array(['TYPE_C'], dtype=object),
 92: array(['TYPE_C'], dtype=object),
 93: array(['TYPE_A'], dtype=object),
 94: array(['TYPE_C'], dtype=object),
 97: array(['TYPE_A'], dtype=object),
 99: array(['TYPE_A'], dtype=object),
 101: array(['TYPE_C'], dtype=object),
 102: array(['TYPE_A'], dtype=object),
 104: array(['TYPE_A'], dtype=object),
 106: array(['TYPE_A'], dtype=object),
 108: array(['TYPE_B'], dtype=object),
 109: array(['TYPE_A'], dtype=object),
 110: array(['TYPE_A'], dtype=object),
 113: array(['TYPE_C'], dtype=object),
 124: array(['TYPE_C'], dtype=object),
 126: array(['TYPE_A'], dtype=object),
 129: array(['TYPE_A'], dtype=object),
 132: array(['TYPE_A'], dtype=object),
 137: array(['TYPE_A'], dtype=object),
 139: array(['TYPE_C'], dtype=object),
 143: array(['TYPE_B'], dtype=object),
 145: array(['TYPE_A'], dtype=object),
 146: array(['TYPE_B'], dtype=object),
 149: array(['TYPE_A'], dtype=object),
 152: array(['TYPE_B'], dtype=object),
 153: array(['TYPE_A'], dtype=object),
 157: array(['TYPE_A'], dtype=object),
 161: array(['TYPE_B'], dtype=object),
 162: array(['TYPE_C'], dtype=object),
 174: array(['TYPE_A'], dtype=object),
 177: array(['TYPE_A'], dtype=object),
 186: array(['TYPE_A'], dtype=object)}

In [16]:
center_type_agg = df.groupby('center_type')['center_id'].nunique()
center_type_agg

center_type
TYPE_A    43
TYPE_B    15
TYPE_C    19
Name: center_id, dtype: int64

In [17]:
import plotly.express as px
import seaborn as sns

center_type_order_df = df.groupby(['week','center_type'])['num_orders'].sum()
center_type_order_df = center_type_order_df.reset_index()

In [18]:
!pip install nbformat

Requirement already satisfied: nbformat in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (5.8.0)
Requirement already satisfied: jupyter-core in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from nbformat) (5.3.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from nbformat) (5.9.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from nbformat) (4.17.3)
Requirement already satisfied: fastjsonschema in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from nbformat) (2.16.3)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jsonschema>=2.6->nbformat) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jsonschema>=2.6->nbformat) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jsonschema>=2.6->nbformat) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jsonschema>=2.6->nbformat) (5.12.0)
Requirement already satisfied: pywin32>=300 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jupyter-core->nbformat) (305.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from jupyter-core->nbformat) (3.2.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\admin\anaconda3\envs\miniproject\lib\site-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat) (3.15.0)

In [19]:
fig = px.bar(center_type_order_df, x="week", color="center_type",
             y='num_orders',
             title="A Grouped Bar Chart With Plotly Express in Python",
             barmode='group',
            )

fig.show()

In [20]:
aaaaaa

NameError: name 'aaaaaa' is not defined

In [ ]:
df['center_id_type'] = df['center_id'].astype(str) + '-' + df['center_type']
df['center_type_short'] = df['center_type'].map(lambda x: x[-1])
df['center_id_type'] = df['center_id'].astype(str) + '-' + df['center_type_short']

df['total_base_price'] = df['base_price'] * df['num_orders']
df['total_checkout_price'] = df['checkout_price'] * df['num_orders']

In [ ]:
filtered_time_df = df[(df['week']<= 140 ) & (df['week']>= 120)]
total_order = filtered_time_df['num_orders'].sum()
sum_base_price = filtered_time_df['total_base_price'].sum()
sum_checkout_price = filtered_time_df['total_checkout_price'].sum()

In [ ]:
dict(df.groupby('region_code')['city_code'].unique())

{23: array([698], dtype=int64),
 34: array([526, 461, 649, 576, 648, 632, 615, 675, 693, 658, 676, 602],
       dtype=int64),
 35: array([702], dtype=int64),
 56: array([647, 679, 590, 599, 685, 703, 579, 522, 577, 517, 683, 654, 638,
        700, 604, 456], dtype=int64),
 71: array([596], dtype=int64),
 77: array([659, 541, 478, 628, 651, 553, 593, 515, 556, 561, 680, 620, 562,
        695, 485, 473], dtype=int64),
 85: array([614, 713, 699], dtype=int64),
 93: array([609], dtype=int64)}

In [ ]:
dict(df.groupby('cuisine')['category'].unique())

In [ ]:
weekly_order = df.groupby('week')['num_orders'].sum()
weekly_order[3:130]

In [ ]:
for col in df.columns:
    print(col)
    print(df[col].unique())
    print()

In [ ]:
call_center_df = df[df['center_id']==10]
call_center_df

In [ ]:
cuisine_cat_df = df[df['meal_id-cuisine-category']=='2631-Indian-Beverages']
cuisine_order = cuisine_cat_df.groupby('week')[['base_price','checkout_price']].mean()

In [ ]:
cuisine_order

In [ ]:
df.

In [ ]:
start_date = pd.to_datetime('2019-01-28')

# Calculate the date for each week based on the start date and the week number
df['date'] = start_date + pd.to_timedelta(df['week'] - 1, unit='W')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Set the 'date' column as the index of the DataFrame
df.set_index('date', inplace=True)

In [ ]:
print(df.shape)
df.head()